{{yield}}
<section>
  <br/>
  <br/>
  {{#each list as |style|}}
    <div class="field-group">
      <span><b>{{style.selector}}</b></span>
      <br/>
      {{#each style.rules as |rule|}}
        <span id={{class-id rule.name}}
              contenteditable="true"
              onkeyup={{action "change"}}
              onfocus={{action "focus"}}
              onblur={{action "blur"}}>
          {{rule.name}}:
        </span>
        <span class="field"
              contenteditable="true"
              onkeyup={{action "change"}}
              onfocus={{action "focus"}}
              onblur={{action "blur"}}>
          {{rule.value}}
        </span>
        <br/>
      {{/each}}
      <button class="add-css-rule" onclick={{action "addRuleClicked"}}>add rule</button>
      <button class="add-css-rule bg-red" onclick={{action "removeStyleClicked"}}>remove this style</button>
    </div>
    <br/>
  {{/each}}
  <button class="add-css-rule padding-6" onclick={{action "addStyleClicked"}}>add style</button>
</section>
