{{yield}}
<section>
  <br/>
  <br/>
  {{#each list as |style|}}
    <div class="field-group">
      <span><b>{{style.selector}}</b></span>
      <br/>
      {{#each style.rules as |rule|}}
        <span id={{class-id rule.name}}
              contenteditable="true"
              onkeyup={{action "change"}}
              onfocus={{action "focus"}}
              onblur={{action "blur"}}>
          {{rule.name}}:
        </span>
        <span class="field"
              contenteditable="true"
              onkeyup={{action "change"}}
              onfocus={{action "focus"}}
              onblur={{action "blur"}}>
          {{rule.value}}
        </span>
        <br/>
      {{/each}}
      <button class="add-css-rule" {{action "click"}}>add rule</button>
    </div>
    <br/>
  {{/each}}
</section>
