{{yield}}
<div id="sidebar">
  <div id="treeViewer" {{action 'onChange'}}>
    <div class='tree-view-box' contenteditable='true'><span>
      {{selectedTags.[2].nodeName}}
      <div class='tree-view-box' contenteditable='true'><span>
        {{selectedTags.[1].nodeName}}
        <div class='tree-view-box' contenteditable='true'><span>
          {{selectedTags.[0].nodeName}}
        </span></div>
      </span></div>
    </span></div>
  </div>
  <button {{action 'h1'}}>H1</button>
  <button {{action 'noStyle'}}>No Style</button>
</div>
