{{outlet}}
<div id="main-site">
  <div class="centerizer">
    {{nav-bar}}
    <section class="limit-width centered">
      {{#if isLoggedIn}}
        <h1>Dashboard</h1>
        <p>Welcome back, {{nickname}}</p>
        <div>
          <h3>My Pages:</h3>
          {{#each pages as |page|}}
            {{#link-to "page" page }}{{page}}{{/link-to}}
            <br/>
          {{/each}}
        </div>
        <input id="page-to-add" class="no-margin" value="Add a new page">
        <button {{action "addPage"}}> Add page </button>

      {{else}}
      <h1 class="main-heading">Log In</h1>
      <br/>
      <div class="centerizer pad-top">
        <button class="signup-db" {{action "authenticateUser"}}>Log In with Github</button>
      </div>
      {{/if}}
    </section>
  </div>
</div>
