{{outlet}}
<div id="main-site">
  <div class="centerizer">
    {{nav-bar}}
    <section class="limit-width centered">
      {{#if isLoggedIn}}
        <p>Hello {{nickname}}</p>
        <br/>
        <button {{action "getPages"}}> Test API </button>
        <button {{action "addPage"}}> Add page </button>
      {{else}}
      <h1 class="main-heading">Sign Up or Log In</h1>
      <div class="centerizer pad-top">
        <span>Name</span>
        <br/>
        <input type="text"/>
        <br/>
        <br/>
        <button class="signup-db" {{action "authenticateUser"}}>Sign Up with Github</button>
        <br/>
        <span>User: {{model}}</span>
      </div>
      {{/if}}
    </section>
  </div>
</div>
