{{outlet}}
<div id="main-site">
  <div class="centerizer">
    {{nav-bar}}
    <section class="limit-width centered">
      {{#if isLoggedIn}}
        <p>Hello {{nickname}}</p>
        <br/>
        <button {{action "getPages"}}> Get Pages </button>
        <input id="page-to-add" value="Add a new page">
        <button {{action "addPage"}}> Add page </button>
        <div>
          {{#each pages as |page|}}
            page: {{#link-to "page" page }}{{page}}{{/link-to}}
            <br/>
          {{/each}}
        </div>
      {{else}}
      <h1 class="main-heading">Sign Up or Log In</h1>
      <div class="centerizer pad-top">
        <span>Name</span>
        <br/>
        <input type="text"/>
        <br/>
        <br/>
        <button class="signup-db" {{action "authenticateUser"}}>Sign Up with Github</button>
        <br/>
        <span>User: {{model}}</span>
      </div>
      {{/if}}
    </section>
  </div>
</div>
