{{outlet}}
<div id="main-site">
  <div class="centerizer">
    {{nav-bar}}
    <section class="limit-width centered">
      <h1 class="main-heading">Sign Up</h1>
      <div class="centerizer pad-top">
        <span>Name</span>
        <br/>
        <input type="text"/>
        <br/>
        <br/>
        <button class="signup-db" {{action "authenticateUser"}}>Sign Up with Github</button>
        <br/>
        <span>User: {{model}}</span>
      </div>
      {{#if isLoggedIn}}
        <p>Logged in!</p>
      {{else}}
        <p> not logged in.</p>
      {{/if}}
      {{isLoggedIn}}
      {{log isLoggedIn}}
    </section>
  </div>
</div>
