{{outlet}}
{{side-bar selectedTags=selectedTags.data}}
<div class="container" {{action 'mouseUp'}}>
  <div class="page">
    {{{model}}}
    <div id="edit" contenteditable="true">
      {{{model}}}
    </div>
    <button {{action 'save'}}>Save</button>
    <button {{action 'cancelEdits'}}>Cancel Editing</button>
  </div>
</div>
