{{outlet}}
<div id="sidebar">
  {{#if selectedRegion}}
    <section id="sidebar-top">
      <button id="viewRoot" class="up" {{action "selectParentNode"}}>up</button>
      <button id="viewRoot" class="up" {{action "deleteCurrentNode"}}>deleteNode</button>
      <br/>
      <button id="newNode" {{action 'newNode' bubbles=false}}>create tag</button>
      {{tag-name  changeTagFunction=(action "changeTag")
                  focusFunction=(action "fieldFocused")
                  blurFunction=(action "fieldBlurred")
                  region=selectedRegion
      }}
      {{tag-id    changeIdFunction=(action "changeId")
                  focusFunction=(action "parentFieldFocused")
                  blurFunction=(action "parentFieldBlurred")
                  region=selectedRegion
      }}
    </section>
    <section id="sidebar-classes">
      <button id="newClass" class="class" {{action 'addClass' bubbles=false}}>add class</button>
      {{class-list  list=selectedClasses
                    focusFunction=(action "fieldFocused")
                    blurFunction=(action "fieldBlurred")
                    changeClassFunction=(action "changeClass")
      }}
    </section>
    {{css-rules list=selectedCssRules
                focusFunction=(action "fieldFocused")
                blurFunction=(action "fieldBlurred")
                changeCssFunction=(action "changeCssRules")
                addCssRuleFunction=(action "addCssRule")
                addCssStyleFunction=(action "addCssStyle")
                removeCssStyleFunction=(action "removeCssStyle")
    }}
  {{else}}
  {{/if}}
</div>

<div class="container" {{action 'mouseUpOnEdits'}}>
  <div class="page">
    <div id="edit" contenteditable="true">
      {{{model}}}
    </div>
  </div>
</div>
