{{outlet}}
<div id="sidebar" {{action 'deselect'}}>
  <section id="sidebar-top">
    <button id="viewRoot" class="up">up</button>
    <br/>
    <button id="newNode" {{action 'newNode' bubbles=false}}>+</button>
    <span id="tagName" class="field big" contenteditable="true"
          {{action "noBubble" bubbles=false}}
          onkeyup={{action "changeTag"}}
          onfocus={{action "fieldFocused"}}
          onblur={{action "fieldBlurred"}}>
      {{selectedTag.anchorNode.parentNode.nodeName}}
    </span>
    <span id="tagId" class="field" contenteditable="false">
      <span class="no-padding">#</span>
        <span id="tagId-unfocusable"
              tabindex="-1"
              class="no-padding no-focus"
              contenteditable="true"
              onkeyup={{action "changeId"}}
              onfocus={{action "parentFieldFocused"}}
              onblur={{action "parentFieldBlurred"}}>
          {{selectedTag.anchorNode.parentNode.id}}
        </span>
      </span>
  </section>
  <section id="sidebar-classes">
    <button id="newClass" class="class" {{action 'newClass' bubbles=false}}>+</button>
    <div id="classList"></div>
  </section>
  <section id="sidebar-styles">

  </section>
</div>

<div class="container" {{action 'mouseUpOnEdits'}}>
  <div class="page">
    <div id="edit" contenteditable="true">
      {{{model}}}
    </div>
  </div>
</div>
